<h1 id="header">This is v16 App(Root) component</h1>
<!-- Custom Element (Regular Approach) -->
<!-- <app-test></app-test> -->

<!-- as a value for class attribute -->
<!-- <div class="app-test"></div> -->

<!-- as a value for id attribute -->
<!-- <div id="app-test"></div> -->

<!-- as a custom attribute -->

<!-- <div app-test></div> -->
<!-- <app-test></app-test>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables> -->
<!-- <app-if></app-if> -->
 <!-- <app-switch></app-switch> -->
  <!-- <app-for></app-for> -->
<!-- <app-sender></app-sender> -->
<!-- <app-view-child></app-view-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-questionnaire></app-questionnaire> -->
 <!-- <div class="container" style="background-color: silver;">
<app-parent-panel></app-parent-panel>
 </div> -->
<app-modal>
  <!-- Normal Projectioni -->
  <app-modal-header>
    <h4>This is Modal Header</h4>
  </app-modal-header>

  <!-- with attribute selection -->
  <app-modal-body modal-body>
    <p>This is Modal Body Content</p>
  </app-modal-body>

  <!-- with Class (.)/Id (#) value selection -->
  <app-modal-footer id="modal-footer">
    <button mat-button color="primary">OK</button>
    <button mat-button color="warn">Cancel</button>
  </app-modal-footer>
</app-modal>

