<h1 id="header">This is v16 App(Root) component</h1>
<!-- Custom Element (Regular Approach) -->
<!-- <app-test></app-test> -->

<!-- as a value for class attribute -->
<!-- <div class="app-test"></div> -->

<!-- as a value for id attribute -->
<!-- <div id="app-test"></div> -->

<!-- as a custom attribute -->

<!-- <div app-test></div> -->
<!-- <app-test></app-test>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables> -->
<!-- <app-if></app-if> -->
 <!-- <app-switch></app-switch> -->
  <app-for></app-for>
